.title {
  margin-left: 1em;
  margin-top: 0em;
  margin-right: 0em;
  margin-bottom: 0em;
}
.wrapper {
  justify-items: center;
  display: grid;
}
@media screen and (min-width: 700px) {
  .wrapper {
    grid-template-columns: 1fr 4fr;
  }
}
.developer-details {
  margin: auto;
  width: 25%;
  padding: 10px;
}
